﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts1", required: false)
    
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">

            <button type="button" class="navbar-toggler bg-dark" data-toggle="collapse" data-target="#mainmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="bg-dark collapse navbar-collapse navbar-dark" id="mainmenu">
                <ul class="nav navbar-nav navbar-dark">

                    <li class="nav-item">@Html.ActionLink("Dashboard", "Dashboard", "Home", new { id = "" }, new { @class = "nav-item btn btn-dark" })</li>
                    <li class="nav-item">@Html.ActionLink("Monitoring", "Monitoring", "Home", new { id = "" }, new { @class = "nav-item btn btn-dark" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { id = "" }, new { @class = "nav-item btn btn-dark" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { id = "" }, new { @class = "nav-item btn btn-dark" })</li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            @RenderBody()
        </div>
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts2", required: false)
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>
</html>
