﻿@using System.Data.Common
@model List<object>

@{
    int i = 0;
    //DBNull dBNull;
}


<ul class="nav flex-column d-flex bg-primary btn-group btn-group-toggle">
    @foreach (object[] item in Model)
    {
        <li class="nav-item flex-fill btn-primary">
            <a class="nav-link text-light bg-primary" data-toggle="collapse" href="#collapseItem_@i">@item[0]</a>
            <div class="collapse navbar-collapse" id="collapseItem_@(i++)">

                @for (int j = 1; j < item.Length; j++)
                {
                    if (!DBNull.Value.Equals(item[j]))
                    {


                        @*@Html.ActionLink(
                            "aaa", "ViewChart", "Home",
                            new { Query = string.Format("dbo.servercounterdata {0},{1}", item[0], item[1]) },
                            new { @class="nav-link text-light active bg-secondary" }
                            )*@

                        @Ajax.ActionLink((string)item[j], "ViewChart", "Home", new { Query = string.Format("dbo.servercounterdata"), ServerName = item[0], CounterName = item[j] }  ,new AjaxOptions()
                   {
                       UpdateTargetId = "chart",
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace

                   }, new { @class = "nav-link text-light active bg-secondary", @onclick = string.Format("reload('{0}','{1}')", item[0], item[j]) })


                        
                    }
                }


            </div>

        </li>
    }
</ul>


                @*</nav>*@


