﻿@using WebMonitoringApp.Models

@{
    ViewBag.Title = "Monitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts1
    {
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/ReloadChart.js"></script>
}




<div class="col-12 col-md-3 col-xl-2 bd-sidebar" role="navigation">

    @Html.Action("GetServerList", "Home", new { Query = "dbo.Proc1" })
    @*@Html.Partial("GetServerList","Test")*@
</div>


<main class="col-12 col-md-9 col-xl-8 bd-content" role="main">
    <div class="img-fluid" style="position: relative; height:40vh; width:80vw" id="chart">


    </div>

</main>
