﻿@using WebMonitoringApp.Models
@using WebMonitoringApp.Controllers

@model ChartModel
@section scripts1
    {
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>

}

<script src="~/Scripts/ReloadChart.js"></script>


<canvas id="myChart"></canvas>
<script>


        //function blinkLegend()
        //var ff = myChart.options.legend.labels.generateLabels;
    var AlarmTresholds = {};
    var i = [0,1];

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                "labels": @Html.Raw(Json.Encode(Model.Labels)),
                datasets: @Html.Raw(Json.Encode(Model.Datasets)),
                },
            options: {
                legend: {
                    labels: {
                        generateLabels: function (chart) {
                            labels = Chart.defaults.global.legend.labels.generateLabels(chart);
                            usePointStyle = true;
                            i.forEach(function (item)
                            {
                                //labels[item].fillStyle = "red",
                                    //labels[item].lineWidth = 3,
                                   // labels[item].strokeStyle = "red",
                                   /// labels[item].lineDash = []

                                    //labels[item].pointStyle = 'triangle'
                            });
                            return labels;
                        }
                    },
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }

            }



        });
        
        ff = function (chart) {
            labels = Chart.defaults.global.legend.labels.generateLabels(chart);
            labels[0].fillStyle = 'red';
            return labels;
        }

        ////ff(myChart);
        ////myChart.options.legend.labels[0].fillStyle = 'red';
        //myChart.data.datasets[0].borderDash = [5, 5];
        ////myChart.data.datasets[0].borderWidth = 3;
        //myChart.data.datasets.usePointStyle = true;
        //myChart.options.legend.labels.usePointStyle = true;

        //myChart.data.datasets[0].pointStyle = 'triangle';
        //myChart.data.datasets[0].pointRadius = 10;

     
        
            function update()
            {
                if (i.length == 2) {
                    i = [0];
                }
                else { i = [0, 1];}

                //myChart.update();

                //setTimeout(update, 3000);
            }
            //update();

</script>